body {
    font-family: Inter, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
     background-color: #777C6D;
  background: linear-gradient(to bottom, #777C6D , #B7B89F ,#4d4e42 );



}
a{
  text-decoration: none;
  color:#4d4e42;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;

   text-shadow: 0px 10px 25px #000000;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #B7B89F;
    padding: 50px;
    border-radius: 20px;
    box-shadow: 0 5px 50px rgb(183, 184, 159);
    text-align: center;
    gap: 18px;
    transition: 0.6s;
    /* istediğin kadar artırabilirsin */
}

#s{

    background-color:#4d4e42;
    width: 150px;
    height: 250px;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 3px 3px 50px rgba(0, 0, 0, 2);
    transition: 0.6s;
}

#t {
    display: flex;
    background-color: #4d4e42;
    width: 150px;
    height: 250px;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 3px 3px 50px rgba(0, 0, 0, 2);
    transition: 0.6s;
}

#f {
    display: flex;
    background-color: #4d4e42;
    width: 150px;
    height: 250px;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 3px 3px 50px rgba(0, 0, 0, 2);
    transition: 0.6s;
}

#fi {
    display: flex;
    background-color: #4d4e42;
    width: 150px;
    height: 250px;
 
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 3px 3px 50px rgba(0, 0, 0, 2);
    transition: 0.6s;
}
.main:hover{
       box-shadow: 0 5px 100px rgba(183, 184, 159, 0.485);
    

}
#s:active {
  transform: scale(2); /* tıklayınca hafif küçülür */
 background-color:#979a86;
}



#s:hover {
 cursor:url("Link___.cur"),auto ;
  transform: scale(1.05);
  box-shadow: 0 100px 50px rgba(0, 0, 0, 0.3);

}
#t:active {
  transform: scale(2); /* tıklayınca hafif küçülür */
  background-color:#979a86;
}
#t:hover {
     cursor:url("Link___.cur"),auto ;
  transform: scale(1.05);
  box-shadow: 0 100px 50px rgba(0, 0, 0, 0.3);

}
#f:active {
  transform: scale(2); /* tıklayınca hafif küçülür */
  background-color:#979a86;
}
#f:hover {
     cursor:url("Link___.cur"),auto ;
  transform: scale(1.05);
  box-shadow: 0 100px 50px rgba(0, 0, 0, 0.3);

}
#fi:active {
  transform: scale(2); /* tıklayınca hafif küçülür */
  background-color:#979a86;
}
#fi:hover {
     cursor:url("Link___.cur"),auto ;
  transform: scale(1.05);
  box-shadow: 0 100px 50px rgba(0, 0, 0, 0.3);

}